
<div class="sidebar">
  <ul>
    <li><a type="button" class="hoverable" (click)="this.goAnalytics()">Analytics</a></li>
    <li><a type="button" class="hoverable" (click)="this.goCommunity()">Community</a></li>
    <li><a type="button" class="hoverable" (click)="this.goPet()">Pet</a></li>
    <li><a type="button" class="hoverable" (click)="this.goResources()">Resources</a></li>
    <li><a type="button" class="hoverable signsOut" (click)="this.goSignOut()">Sign Out</a></li>
  </ul>
</div>
<div class="nav-bar">
    <img src="assets/images/favicon.png" class="logo">
    <h1 class="header">Carbon Critters</h1>
</div>
